a, a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin-bottom: 0;
}

.modal-section {
    margin-bottom: 1rem;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #035E7B;
    font-size: 16px;
    padding-top: 62px;
}

.navbar {
    background-color: #035E7B;
    width: 100%;
}
.navbar-collapse{
    text-align: center;
}

.nav-link span {
    width: 100%;
    position: relative;
}

.nav-link span:before {
    content: "";
    display: block;
    height: 1px;
    width: 0px;
    margin: auto;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

.nav-item:hover span:before{
    color: #cccccc;
    width: 100%;
}

.nav-item:hover:before {
    width: 100%;
}

#name {
    /* Maybe change font */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: none;
    color: white;
}

#title-name {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: rgb(250, 225, 82);
    text-shadow: 0px 0px 20px #5f5f5f;
    display: none;
    padding-top: 100px;
    margin: auto;
    position: absolute;
    width: 100%;
}

.nav-item{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    margin-right: 15px;
    float: right;
    color: #dddddd;
}

h2 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}


.image-shadow {
    margin: 0 30px;
    box-shadow: 0px 0px 5px 5px grey;
}

#bg-block {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(#035E7B, rgba(85, 122, 149, 0));
    text-align: center;
}

#home-main-img {
    background-image: url(../img/landscape.JPG);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;

}

.social-media{
    margin: 0 10px;
    height: 70px;
    position: relative;
    bottom: 0;
    right: 0;
    color: inherit;
}

.social-media:hover {
    bottom: 3px;
    right: 3px;
    transition: all 0.15s ease-in-out;
}

#fb:hover {
    color: #4267BC;
}

#github:hover {
    color: black;
}

#linkedin:hover {
    color: #0077B5;
}

#ig:hover {
    background: radial-gradient(circle at top left, #405DE6 0%, #C13584 30%, transparent 50%), 
    radial-gradient(circle at bottom left, #FFDC80 0%, #FCAF45 10%, #E1306C 40%,#C13584 50%, transparent 70%),
    radial-gradient(circle at right, #C13584 0%, #833AB4 70%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#email:hover {
    color: #1abe4b;
}

.projects {
    background-color: rgb(223, 223, 223);
}

.project-container {
    margin: 20px;
    background-color: white;
    text-align: center;
    padding: 10px;
    height: 370px;
    font-size: 20px;
    position: relative;
    box-shadow: 0 0 5px black;
}

.project-container:hover {
    top: -5px;
    right: 0px;
    box-shadow: 0 0px 10px black;
}


.project-container p {
    font-size: 14px;
    margin: 10px;
}

h3 {
    font-size: inherit;
}
#contact {
    color: white;
}

form {
    margin: auto;
    width: 50%;
    background-color: white;
    color: rgb(4, 66, 87);
    border-radius: 20px;
    box-shadow: 0 3px 10px 2px black;
}

#table-wrap {
    padding: 30px 50px;
}

#form-bg {
    margin-top: 30px;
    padding: 10px 0 50px 0;
    background-attachment: fixed;
    background-color: rgb(4, 66, 87);
}
table {
    margin: auto;
    padding: 50px;
    width: 100%;
}

#input-message {
    width: 90%;
}

label {
    margin: 10px 0;
}

button {
    margin-bottom: 10px;
}

footer {
    height: 100px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
}
#footer-social {
    margin-bottom: 5px;
}

@media (max-width: 1199px) { 
    body {
        font-size: 14px;
    }
    .project-container {
        margin: 15px 0;
    }
}

@media (max-width: 992px) { 
    body {
        font-size: 12px;
    }
    .image-shadow {
        margin: auto 
    }
    form {
        width: 80%;
    }
    .project-container {
        height: 470px;
    }
}

@media (max-width: 767px) { 
    #bio { 
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
    }
    form {
        width: 90%;
    }
    .project-container {
        height: fit-content;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        font-size: 2em;
    }
    #title-name {
        font-size: 50px;
    }
}